<template>
    <div class="row mt-4" v-cloak v-if="count">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{ title }}</h2>
                    </div>
                    <hr>
                    <answer v-for="answer in answers" :answer="answer" :key="answer.id"></answer>

                    <div class="text-center mt-3">
                        <button @click="fetch(nextUrl)" class="btn btn-outline-secondary" v-if="nextUrl">
                            Load More Answers
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Answer from './Answer.vue';

export default {
    props:['question'],
    data(){
        return {
            'question_id' :this.question.id,
            'count':this.question.answers_count,
            'answers':[],
            'nextUrl':null
        }
    },
    components:{
        Answer,
    },
    computed:{
        title(){
            return this.count + " "+(this.count > 1 ?'Answers' : 'Answer');
        }
    },
    created(){
        this.fetch(`/questions/${this.question_id}/answers`)
    },
    methods:{
        fetch(endpoint){
            axios.get(endpoint)
            .then(({data})=>{
                this.answers.push(...data.data);
                this.nextUrl = data.next_page_url;
            })
            .catch(err=>{

            })
        }
    }
}
</script>