<template>
    <div class="d-fex flex-column vote-controls">
    <a :title="title('up')" 
        class="vote-up " :class="classes"
        @click.prevent="voteUp"
        >
        <i class="fas fa-caret-up fa-3x"></i>
    </a>

    <span class="votes-count">{{ count }}</span>

    <a :title="title('down')" 
        class="vote-down" :class="classes"
        @click.prevent="voteDown"
        >
        <i class="fas fa-caret-down fa-3x"></i>
    </a>
    
        <favourite v-if="name=='question'" :question="model"></favourite>

        <accept v-else :answer="model"></accept>
</div>      
</template>
<script>
import Favourite from './Favourite.vue';
import Accept from './Accept.vue';

export default {
    props : ['name','model'],
    data(){
        return {
            count: this.model.votes_count,
            id:this.model.id
        }
    },
    components:{
       Favourite,
       Accept
    },
    computed:{
        classes(){
            return this.signedIn ? '':'off';
        },

        endpoint(){
            return `/${this.name}s/${this.id}/vote`;
        },

        
    },

    methods:{
        title(voteType){
            let titles = {
                'up' : `This ${this.name} is useful`,
                'down' : `This ${this.name} is not useful`
            }
            return titles[voteType];
        },
        voteUp(){
            this._vote(1);
        },
        voteDown(){
            this._vote(-1);
        },
        _vote(vote){
            if(! this.signedIn){
                swal({
                    title:'Please sign in',
                    icon:'warning',
                    buttons :true,
                    dangerMode:true
                })
            }
            axios.post(this.endpoint,{vote})
            .then(res=>{
                // swal("Good job!", res.data.message, "success");
                this.$toast.success(res.data.message,'Success',{
                    timeout : 3000,
                    position: 'bottomRight'
                });

                this.count = res.data.votesCount;
            })
            .catch(err=>{

            })
        }

    }
}
</script>