
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-green: rgb(95, 187, 126);

$color-white: #fff;

$button-color:#33aa7c;